= form_for @drifvare do |f|
  - if @drifvare.errors.any?
    #error_explanation
      %h2= "#{pluralize(@drifvare.errors.count, "error")} prohibited this drifvare from being saved:"
      %ul
        - @drifvare.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :telephone
    = f.text_field :telephone
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :postal_code
    = f.text_field :postal_code
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :country
    = f.text_field :country
  .field
    = f.label :admin
    = f.check_box :admin
  .actions
    = f.submit 'Save'
