%h1 Listing drifvare

%table.table
  %tr
    %th Name
    %th Email
    %th Telephone
    %th Address
    %th Postal code
    %th City
    %th Country
    - if false
      %th Admin
      %th



  - @drifvare.each do |drifvare|
    %tr
      %td= link_to drifvare.name, drifvare
      %td= drifvare.email
      %td= drifvare.telephone
      %td= drifvare.address
      %td= drifvare.postal_code
      %td= drifvare.city
      %td= drifvare.country
      - if !drifvare.admin?
        %td= drifvare.admin
        %td= link_to 'Destroy', drifvare, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Drifvare', new_drifvare_path
