%p#notice= notice
= gravatar_for @drifvare
%p
  %b Name:
  = @drifvare.name
%p
  %b Email:
  = @drifvare.email
%p
  %b Telephone:
  = @drifvare.telephone
%p
  %b Address:
  = @drifvare.address
%p
  %b Postal code:
  = @drifvare.postal_code
%p
  %b City:
  = @drifvare.city
%p
  %b Country:
  = @drifvare.country
- if current_user.admin?
  %p
    %b Admin:
    = @drifvare.admin
- if current_user?(@drifvare) || current_user.admin?
  = link_to 'Edit', edit_drifvare_path(@drifvare), class: 'btn'
  \|
= link_to 'Back', drifvare_index_path, class: 'btn'
