= form_for @drifveri do |f|
  - if @drifveri.errors.any?
    #error_explanation
      %h2= "#{pluralize(@drifveri.errors.count, "error")} prohibited this drifveri from being saved:"
      %ul
        - @drifveri.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :year
    = f.number_field :year
  .field
    = f.label :ofverdrif_id
    = f.text_field :ofverdrif_id
  .field
    = f.label :direktifdrif_id
    = f.text_field :direktifdrif_id
  .field
    = f.label :indrif_id
    = f.text_field :indrif_id
  .field
    = f.label :tidsfordrif_id
    = f.text_field :tidsfordrif_id
  .field
    = f.label :skylt
    = f.text_field :skylt
  .field
    = f.label :archzero
    = f.text_field :archzero
  .actions
    = f.submit 'Save'
