%h1 Listing drifverier

%table.table
  %tr
    %th Year
    %th Ofverdrif
    %th Direktifdrif
    %th Indrif
    %th Tidsfordrif
    %th Skylt
    %th Archzero
    - if current_user.admin?
      %th
      %th

  - @drifverier.each do |drifveri|
    %tr
      %td= link_to drifveri.year, drifveri
      %td= drifveri.ofverdrif_id
      %td= drifveri.direktifdrif_id
      %td= drifveri.indrif_id
      %td= drifveri.tidsfordrif_id
      %td= drifveri.skylt
      %td= drifveri.archzero
      - if current_user.admin?
        %td= link_to 'Edit', edit_drifveri_path(drifveri)
        %td= link_to 'Destroy', drifveri, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
- if current_user.admin?
  = link_to 'New Drifveri', new_drifveri_path
