%p#notice= notice

%p
  %b Year:
  = @drifveri.year
%p
  %b Ofverdrif:
  = link_to @ofverdrif.name, drifvare_path(@ofverdrif)
%p
  %b Direktifdrif:
  = @drifveri.direktifdrif_id
%p
  %b Indrif:
  = @drifveri.indrif_id
%p
  %b Tidsfordrif:
  = @drifveri.tidsfordrif_id
%p
  %b Skylt:
  = @drifveri.skylt
%ul
  - @drifveri.drifvare.each do |drifvare|
    %li= link_to drifvare.name, drifvare_path(drifvare)

%p
  %b Archzero:
  = @drifveri.archzero
- if current_user.admin?
  = link_to 'Edit', edit_drifveri_path(@drifveri)
  \|
= link_to 'Back', drifverier_path
