<!DOCTYPE html>
<html>
<head>
  <title>Ts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="piska"><%= image_tag("piska-cerise.png", :id=>"piska-img") %></div>
  <div class="page-header">
    <ul class="nav">
      <li></li>
      <li><h1>Drifveriet.org</h1></li>
    </ul>
  </div>
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li><%= link_to "Drifvare", drifvare_index_path %></li>
        <li><%= link_to "Drifverier", drifverier_path %></li>
      </ul>
    </div>
  </div>
<div class="container">
  <div class="span10">
    <div id="content">
    <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
